<div class="container text-center">
  <h1>Restaurante</h1>
  <p class="texto-restaurante">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id dui id
    tortor dictum vestibulum a finibus enim. Donec vitae mauris eu eros feugiat
    blandit vel fringilla metus.
  </p>

  <video poster="../../assets/media/images/logo.png" id="myvideo" controls>
    <source src="../../assets/media/video/movie_clip.mp4" type="video/mp4" />
    <source src="../../assets/media/video/movie_clip.ogg" type="video/ogg" />
    <track
      src="../../assets/media/video/movie_clip2.en.vtt"
      label="English captions"
      kind="captions"
      srclang="en"
    />
    <track
      src="../../assets/media/"
      label="Subtitulos en Español"
      kind="captions"
      srclang="es"
      default
    />
    <p>El navegador no acepta la reproduccion del formato de video</p>
  </video>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id dui id
    tortor dictum vestibulum a finibus enim. Donec vitae mauris eu eros feugiat
    blandit vel fringilla metus. Nam mattis nunc erat, nec tempus est sagittis
    ac. Proin eu pretium purus. Nulla sit amet ligula dapibus, molestie mi et,
    commodo ipsum. Nullam aliquam nunc id orci aliquet placerat. Morbi dignissim
    porta tempus. Morbi non nisi lectus. Suspendisse eu ex id enim dignissim
    vehicula ut ac nisi. Praesent suscipit eros sit amet bibendum varius. Nulla
    sit amet sodales lacus. Mauris purus metus, convallis ut rutrum sit amet,
    faucibus et est. Nulla volutpat urna nec est porttitor vestibulum. Nullam
    non enim a leo sagittis aliquam. Duis consequat sagittis diam sed interdum.
  </p>
  <button class="btn btn-primary">Reservar</button>
</div>
