<!-- Footer -->
<footer class="bg-light text-center ">
  <!-- Grid container -->
  <div class="container p-4">

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-4 col-md-4 mb-4 mb-md-0">
          <img src="../../assets/logo.png" width="100">
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-4 mb-4 mb-md-0">
          <h5>Horario</h5>

          <ul class="list-unstyled mb-0">
            <li>
              Comidas de 13:00 a 16:00
            </li>
            <li>
              Cenas de 20:30 a 23:30
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-4 mb-4 mb-md-0">
          <h5>Contacto</h5>

          <ul class="list-unstyled mb-0">
            <li>
              Calle falsa 1234
            </li>
            <li>
              Valladolid
            </li>
            <li>
              Valladolid
            </li>
            <li>
              Tel: +34 123 45 67 89
            </li>
            <li>
              correo@coreo.es
            </li>
            <li>
              <!-- Faltan los iconos -->
              <a href="">Facebook</a>
              <a href="">Instagram</a>
              <a href="">Twitter</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->

  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="p-3 subfooter">
    <a class="text-dark" href="">© Royal Palace 2023</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
