<link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0" />
<div class="container" id="video">
  <video id="myvideo" controls>
    <source src="../../../assets/media/Un paseo por la Casa Lis.mp4" type="video/mp4">
    <source src="../../../assets/media/Un paseo por la Casa Lis (video-converter.com).webm" type="video/webm">
    <track src="../../../assets/media/subtitles-en.vtt" label="English captions" kind="captions" srclang="en" default>
    <track src="../../../assets/media/subtitles-es.vtt" label="Subtitulos Español" kind="captions" srclang="es" default>
    <p>El navegador no acepta la reproduccion del formato de video</p>
  </video>

  <div class="contenedor">
    <div class="botonera">
      <button>
        <span class="material-symbols-rounded">
          fast_rewind
        </span>
      </button>
      <button>
        <span class="material-symbols-rounded">
          play_arrow
        </span>
      </button>
      <button>
        <span class="material-symbols-rounded">
          pause
        </span>
      </button>
      <button>
        <span class="material-symbols-rounded">
          fast_forward
        </span>
      </button>
      <!-- <button onclick="subtitles()">
            <span class="material-symbols-rounded">
                closed_caption
            </span>
        </button> -->
    </div>
  </div>

</div>
