body{
    background-color:#5d6d61;
    width: 100%;
}
h1{
    color: white;
}



header{
    margin: auto;
    max-width: 700px;
}

div{
    max-width: 700px;
    text-align: justify;
    margin: auto;
    padding: 20px;
    box-shadow: 3px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #eee;
    margin-top: 20px;
    margin-bottom: 20px;
}
button{
    background-color: #334237;
    border-radius: 15px;
    border: none;
}
code{
    background-color: #5d6d61;
    color: #76ff03;
    padding: 2px;
}

a:hover, button:hover{
    background-color: #5d6d61;
    color: #b0ff57
}

td{
    text-align: center;
}
table{
    margin: auto;
}

.boton{
    background-color: #334237;
    color:#76ff03;
    padding: 4px;
    border-radius: 2px;
    vertical-align:middle;
    align-content: center;
    text-decoration: none;
}

.oscuro{
    background-color: #334237;
    color: white;
}

.icono-link{
    color: black;
    text-decoration: none;
    vertical-align: middle;
}

.material-icons.orange600 { color: #FB8C00; }


/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }