body{
    background-color:#eee;
}
div{
    max-width: 700px;
    text-align: justify;
    margin: 10px;
}
button{
    background-color: #334237;
    border-radius: 15px;
    border: none;
}
code{
    background-color: #5d6d61;
    color: #76ff03;
    padding: 2px;
}

a:hover, button:hover{
    background-color: #5d6d61;
    color: #b0ff57
}

a{
    background-color: #334237;
    color:#76ff03;
    padding: 15px;
    border-radius: 10px;
    vertical-align:middle;
    align-content: center;
    text-decoration: none;
}

.material-icons{
    color:#76ff03;
    /* color:#334237;
    background-color: #76ff03; */
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 360px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }