/* You can add global styles to this file, and also import other style files */
// Fuentes
$font-h1: 'Lato', sans-serif;
$font-h2: 'EB Garamond', serif;
$font-footer: 'Open Sans', sans-serif;

// Tamaños
$big: 40px;
$medium: 20px;
$small: 15px;

// Colores
$primary: #334237;
$primaryClaro: #5d6d61;
$primaryOscuro: #0d1b11;

$secondary: #76ff03;
$secondaryClaro: #b0ff57;
$secondaryOscuro: #32cb00;

$bg-body: #eee;
$color-text-body: #232323;
$color-text-p: #76ff03;
$color-text-s: #212121;

// Medias query
$movil:490px;

// Clases
// genericas
body {
  color: $color-text-body;
  background-color: $bg-body;
}

h1 {
  font-size: $big;
  font-family: $font-h1;
}
h2 {
  font-size: $medium;
  font-family: $font-h2;
  text-decoration: underline;
}

.content {
  padding: 5px;
  font-size: $small;
  font-family: $font-h2;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

a:hover,.nav-link:hover,.navbar-brand:hover, .nav-item:hover{
  color:darken($color-text-p, 30%);
}


// footer
footer {
  background-color: $primary;
  font-size: $medium;
  font-family: $font-footer;
  color: $color-text-p;
  padding: 30px 0;
  .mapa-footer {
    width: 120px;
  }
  .iconos-footer {
    padding: 0;
    margin: 12px;
    height: 30px;
    width: 30px;
  }
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// Navegador
nav,
.navbar {
  justify-content: center;
  background-color: $primary;
  color: $color-text-p;
  border: none;
}

.navbar-toggler {
  border: none;
}

.items-menu {
  font-size: $medium;
  font-family: $font-h1;
  background-color: $primary;
  color: $color-text-p;
}

.nav-principal{
  display: flex;
  flex-direction: row;
  @media (min-width:$movil) {
    justify-content: center;
  }
}

// Video
video {
  margin: 2vw;
  width: 100%;
  max-width: 1131px;
}
#video {
  .contenedor {
    width: 100%;
    display: flex;
    justify-content: center;
    .botonera {
      display: flex;
      max-width: 500px;
      justify-content: center;
      padding: 10px 15px;
      background-color: #334237;
      border-radius: 15px;
      margin: 2vh 0;

      .material-symbols-rounded {
        font-size: 2em;
      }
      button {
        border-radius: 5px;
        color: white;
        background-color: red;
        /* border: solid 2px white; */
        border: none;
        min-width: 48px;
        min-height: 48px;
        width: 10vh;
        height: 10vh;
        margin: 5px 10px;
        cursor: pointer;
        box-shadow: 7px 7px rgba(0, 0, 0, 0.2);
      }
      button:hover {
        background-color: rgb(173, 45, 47);
      }
    }
  }
}

// Galeria/cards
.card {
  border-radius: 32px;
  background: $secondaryClaro;
  display: flex;
  flex-direction: column;
  color: $color-text-s;
  padding: 30px;
  margin: 15px 2vw;
  max-width: 318px;
  .card-imagen {
    img {
      width: 100%;
    }
  }
  .card-body {
    text-align: center;
  }
}


// Contenedores y grid
.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 2vw;
  justify-content: center;
  .row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2vw;
    justify-content: center;
    .col{
      width: 100%;
      @media (min-width:$movil) {
        width: 33%;
      }

    }
  }
}

