<!-- Contenedor del hero -->
<section class="text-center container-fluid container-hero">
  <!-- <div class="row">
    <div class="col"> -->
      <!-- <picture class="img-fluid">
        <source media="(min-width:650px)" srcset="../../../assets/La-Malquerida_grande.jpeg">
        <source media="(min-width:465px)" srcset="../../../assets/La-Malquerida_grande.jpeg">
        <img src="../../../assets/La-Malquerida_grande.jpeg" alt="Hero" style="width:auto;">
      </picture> -->
      <img class="img-fluid" src="../../../assets/media/images/bogota-restaurante-español.jpg" alt="Hero">
      <a href="#" class="btn btn-hero btn-primary btn-lg my-2">Reservar</a>
    <!-- </div>
  </div> -->
</section>
