<!-- Contenedor del hero -->
<section class="text-center ">
  <!-- <div class="row">
    <div class="col"> -->
      <!-- <picture class="img-fluid">
        <source media="(min-width:650px)" srcset="../../../assets/La-Malquerida_grande.jpeg">
        <source media="(min-width:465px)" srcset="../../../assets/La-Malquerida_grande.jpeg">
        <img src="../../../assets/La-Malquerida_grande.jpeg" alt="Hero" style="width:auto;">
      </picture> -->
      <img class="w-100" src="../../../assets/bogota-restaurante-español.jpg" alt="Hero">
      <a href="#" class="btn btn-primary my-2">Reservar</a>
    <!-- </div>
  </div> -->
</section>
