<footer>
  <div class="container text-center">
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <p>Visitanos en </p>
        <p>C/Gibraltar,14 (37008) Salamanca 923121425 </p>
      </div>
      <div class="col-sm-12 col-md-4">
        <img class="mapa-footer" src="../../assets/media/mapa.PNG">
      </div>
      <div class="col-sm-12 col-md-4">
        Visit our Social Networks:
        <div class="row align-content-center">
          <img class="iconos-footer" src="../../assets/media/iconos/Instagram-Icon.png">
          <img class="iconos-footer" src="../../assets/media/iconos/twitter.png">
          <img class="iconos-footer" src="../../assets/media/iconos/fb.png">
        </div>
      </div>
    </div>
  </div>

</footer>
